#div1{
    width:20%;
    height:100%;
    border:1px #999 solid;
	background:#999;
	position:absolute;
	text-align:center;
}
#div2{
    width:80%;
    height:23%;
    border:1px #999 solid;
	position:relative;
	left:20.5%;
	background-color:#80ff80;
}
#div3{
    width:790px;
	position:absolute;
	top: 27%;
	left:21%;
}
a:hover{
    background-color: #fafafa;
}
a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.hide {
    display:none;
}
.black_overlay{ 
	display: none;  
	position: absolute;  
	top: 0%;  
	left: 0%;  
	width: 100%;  
	height: 100%;  
	background-color: black;  
	z-index:1001;  
	-moz-opacity: 0.8;  
	opacity:.80;  
	filter: alpha(opacity=80);  
	}  
	
 .white_content {  
 	display: none;  
 	position: absolute;  
 	top: 25%;  left: 25%;  width: 50%;  height: 50%;  
 	padding: 16px;  
 	border: 16px solid orange;  
 	background-color: white;  
 	z-index:1002;  
 	overflow: auto;  
 	}
.text{
	background-color: #dfe9f2;
	float£ºleft;
	margin:0px 5px 0px 5px ;
	outline:none;
	border:0px;
    display: inline-block;
    width:700px;
    word-wrap:break-word ;
}
.text:hover {
	
    background-color: #fffffff;
}
.infoDiv{
	/* height:50px; */
	border:1px #c0c0c0 solid;
	background-color: #dfe9f2;
}